<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>182824424287-nv2cl567ghcaa14lc6ffuco2fp7dnn5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182824424287-nv2cl567ghcaa14lc6ffuco2fp7dnn5k</string>
	<key>API_KEY</key>
	<string>AIzaSyA64UcpKL0sKYpNmojkm3DFbeNrSlJay2w</string>
	<key>GCM_SENDER_ID</key>
	<string>182824424287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elizabethwei.PlanForMe</string>
	<key>PROJECT_ID</key>
	<string>planforme-3eac1</string>
	<key>STORAGE_BUCKET</key>
	<string>planforme-3eac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:182824424287:ios:10e4ebbc1c2cbfe9</string>
	<key>DATABASE_URL</key>
	<string>https://planforme-3eac1.firebaseio.com</string>
</dict>
</plist>